#### What are DataFrames?

DataFrames are a way to store data in rectangular grids that can easily be overviewed.

---------------------------------------------------------------------------------------------------------------------------------

#### Creating data frame manually

In [18]:
import pandas as pd
import numpy as np

df = pd.DataFrame([[1, 2, 3],
                   [3, 4, 5],
                   [5, 6, 7],
                   [7, 8, 9]])
df

   0  1  2
0  1  2  3
1  3  4  5
2  5  6  7
3  7  8  9

---------------------------------------------------------------------------------------------------------------------------------

#### Important properties of DataFrame

##### shape

In [19]:
df = pd.DataFrame([[1, 2, 3], [3, 4, 5], [5, 6, 7], [7, 8, 9]])

df.shape

(4, 3)

##### index

In [20]:
df = pd.DataFrame([[1, 2, 3], [3, 4, 5], [5, 6, 7], [7, 8, 9]])

df.index

RangeIndex(start=0, stop=4, step=1)

---------------------------------------------------------------------------------------------------------------------------------

#### Understanding the Index

In [21]:
df2 = pd.DataFrame([[1, 2, 3], [3, 4, 5], [5, 6, 7], [7, 8, 9]],
                   index= ['a','b','c','d'], 
                   columns=['x','y','z'])
df2

   x  y  z
a  1  2  3
b  3  4  5
c  5  6  7
d  7  8  9